<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aerolitec.SMXL" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".ui.SMXL"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <activity
            android:name=".ui.activity.IntroActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainNavigationActivity"
            android:logo="@drawable/groslogo"
            android:screenOrientation="portrait"
            android:theme="@style/MyNavigationDrawerTheme" >
        </activity>

        <activity
            android:name=".ui.activity.AProposActivity"
            android:logo="@drawable/groslogo"
            android:parentActivityName=".ui.activity.MainNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfilDetailActivity"
            android:label="@string/title_activity_profil_detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CSVCreationActivity"
            android:label="@string/title_activity_csvcreation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ImportProfilActivity"
            android:label="@string/title_activity_import_profil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.smxl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.smxl" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddMeasureActivity"
            android:label="@string/title_activity_add_measure_fragment"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.DisplayGarmentActivity"
            android:label="@string/title_activity_display_garment"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.AddGarmentActivity"
            android:icon="@drawable/ic_action_logo_smxl"
            android:label="@string/title_activity_add_garment"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ConnexionActivity"
            android:label="@string/title_activity_connexion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:label="@string/title_activity_connexion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.CreateUpdateProfileActivity"
            android:label="@string/title_activity_connexion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_connexion"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
