<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aerolitec.SMXL" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:name=".ui.SMXL"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".ui.activity.IntroActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ProfilActivity"
            android:logo="@drawable/groslogo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AProposActivity"
            android:logo="@drawable/groslogo"
            android:parentActivityName=".ui.activity.ProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateProfile"
            android:logo="@drawable/groslogo"
            android:parentActivityName=".ui.activity.ProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdateProfile"
            android:logo="@drawable/groslogo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfilDetailActivity"
            android:label="@string/title_activity_profil_detail" />

        <activity
            android:name=".ui.activity.CSVCreationActivity"
            android:label="@string/title_activity_csvcreation" >
        </activity>
        <activity
            android:name=".ui.activity.ImportProfilActivity"
            android:label="@string/title_activity_import_profil" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.smxl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.smxl" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddGarmentActivity"
            android:icon="@drawable/ic_action_logo_smxl"
            android:label="@string/title_activity_add_garment" >
        </activity>
        <activity
            android:name=".ui.activity.AddMeasureActivity"
            android:label="@string/title_activity_add_measure_fragment" >
        </activity>
        <activity
            android:name=".ui.activity.ListGarmentActivity"
            android:label="@string/title_activity_list_garment" >
        </activity>
        <activity
            android:name=".ui.activity.DisplayGarmentActivity"
            android:label="@string/title_activity_display_garment" >
        </activity>
    </application>

</manifest>